<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APTicket</key>
	<data>
	MIIKqzALBgkqhkiG9w0BAQUxggK3gQj1PQw3mwEAAIIEUIkAAIMEAgAAAIQEAQAAAIUE
	AQAAAIYSaUJvb3QtMjI2MS41LjY0fjE1hxRVPrfLABrvgQd2EHkB6SVK/xf1y4gU/PI5
	+P05oa2t2D8Ih0sXTXLyps6JFDzlgqJmaJzkxTNyO+9vK4ZDcvyNihQk/fuupJsaqUwO
	LsICV3bY/TpKvo0U3UJwiN/2aTmCtsILHQl7SAvKBzaOFAQp0pSMom1V8PPLqglioPYC
	OjM5jxTGLmv/XBGUNRVgtiA6Zg0vuTWIhpAUnbqhdwRMD3hrIc/yoB12SutHTFSSFIuY
	oR7f7EtOolDuc/O4EcTVN4FnlBJpQm9vdC0yMjYxLjUuNjR+MTWWEmlCb290LTIyNjEu
	NS42NH4xNZcU/PI5+P05oa2t2D8Ih0sXTXLyps6YFDzlgqJmaJzkxTNyO+9vK4ZDcvyN
	mRQk/fuupJsaqUwOLsICV3bY/TpKvpoUCfZPFWL39EOetSu2dNVpBj6f8hmcFHmd70tH
	nzd8fJEHbQ3SQCUg1e9JnzAEAQAAAJ8xBAEAAACfMgQBAAAAnzMEAQAAAJ82BAEAAACf
	NwQBAAAAnzgEAQAAAJ85BAEAAACfOwQBAAAAnzwEAQAAAJ89BAEAAACfPgQBAAAAn0sU
	maCfP3D/+yPJEozwW1ZRh2z66WafThRjJiI+3r2T0jypuR0erqX7CT8DOJ9PFH1LSslj
	J99CoMLlmjNVQrC/WGCQn1AUHkS5XyJP7nmtVgiim3r8DfzkulqfVAQBAAAAn1UEAQAA
	AJ9WBAEAAACfgWQUPLXg2yBiapFedNFDRqtv7+MSAmCfgWUUQJX+MahD73zy3Cw5dqm4
	WozXadefgWYUdHGEhd6WSknwagkxMzJAuXQUWu+fgWcEAQAAAJ+BaAQBAAAAn4FpBAEA
	AAAEgYCHCzrU/cgJvWVk3GPvHZMFKoo4nmhdrAySs8a4exY9atKYohIQLaNQDahdv0vz
	Uy3Fs76CXYjMblASJNU2ME/3HiYXItHJtj07v2+GFPPxqD509e9aDXW0cpGju6DSFJkB
	h68QlS/7bVKmiAfdTcikx0u+7cMgf1XrCmhwN5Suy6GCB1wwggP4MIIC4KADAgECAgEQ
	MA0GCSqGSIb3DQEBBQUAMGIxCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMu
	MSYwJAYDVQQLEx1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEWMBQGA1UEAxMN
	QXBwbGUgUm9vdCBDQTAeFw0wNzAxMDUxOTIxNTlaFw0yMjAxMDUxOTIxNTlaMH4xCzAJ
	BgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYwJAYDVQQLEx1BcHBsZSBDZXJ0
	aWZpY2F0aW9uIEF1dGhvcml0eTEyMDAGA1UEAxMpQXBwbGUgU2VjdXJlIEJvb3QgQ2Vy
	dGlmaWNhdGlvbiBBdXRob3JpdHkwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
	AQD+8t3aZTmwcuMDhIH0VsnRoUq7yAQB80YNleE3lQppR8bEjHk+R1UGsgYU636k9SP+
	QjWY7zQFzprTrZTQog/C0rQESEwjWlvHC51i0/PjaxD+lwhXxhJ2dxmyxsMsmO23KYfk
	3Bi25fO6E/uytrdn2cvfb6WTPe16k2e0/TQW5ACrC7dOH1rWA2g+crYUMDoMZJegRiJ5
	G3csWy6Q4BHcFqPhyPeEsk/cSzoK1RJ+3BE/+hFzZRpJcKB+dYK0PCsvVd8wiLF1TUXc
	BygtSjqF/Z+VPiK6nEb3t2h7s5TVQj4Fszj4Z3lIjGwfi77u7VQF1aMLWH14DySpodwK
	dOr3AgMBAAGjgZwwgZkwDgYDVR0PAQH/BAQDAgGGMA8GA1UdEwEB/wQFMAMBAf8wHQYD
	VR0OBBYEFEk9NlPJ1xXhhmFOrKurGFZjXcPGMB8GA1UdIwQYMBaAFCvQaUeUdgn+9GuN
	LkCm90dNfwheMDYGA1UdHwQvMC0wK6ApoCeGJWh0dHA6Ly93d3cuYXBwbGUuY29tL2Fw
	cGxlY2Evcm9vdC5jcmwwDQYJKoZIhvcNAQEFBQADggEBADTFDMUOWREvpsKfMnjnZDJp
	263CJcq3R4O3kjxxU6CyrTCVgFC9bV9M3M54DUxJEFA4EDW/RYGsZlgsISP4ll6A6dPG
	TP2Frjlh9iiqRO0Vmz9HwFesZxyMzdSTjU/balSne0JbD5nG1zirUqehgx2FMHTqDR3a
	aISP4oR+y7lBbtWfqEK1/zO2cX/qo7ndSQNghXYQPo6o4TbjEt2FbO1mU7BbSJsvf/bK
	HPBdmC10rfBIR8XhmmeyIg+wDgKg4bpqYrm0tXH0JeGz5aDtyBpAtfgxFQWkXDgjTJCd
	RwOAgNQykEWPD6+b/ALu7cvmMfafFeZ9K1dDDuIPoaCtidowggNcMIICRKADAgECAgIB
	LzANBgkqhkiG9w0BAQUFADB+MQswCQYDVQQGEwJVUzETMBEGA1UEChMKQXBwbGUgSW5j
	LjEmMCQGA1UECxMdQXBwbGUgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkxMjAwBgNVBAMT
	KUFwcGxlIFNlY3VyZSBCb290IENlcnRpZmljYXRpb24gQXV0aG9yaXR5MB4XDTExMDUy
	MDIzMjM0OVoXDTIxMDUyMDIzMjM0OVowYjELMAkGA1UEBhMCVVMxEzARBgNVBAoTCkFw
	cGxlIEluYy4xDDAKBgNVBAsTA0VUUzEwMC4GA1UEAxMnSDVQLURhcndpbi1Qcm9kLUNF
	UE8xLVRpY2tldC1EYXRhQ2VudGVyMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCU
	50LbUO8/SMczFBHJVIPQAsG+3AiuksyYxd4eV8OhUhplNGBeJungcJtpz+ASSC4GXm+n
	MuiScfPTKnlsyIoQMpjXdXDVqcX1LHub5JkzQnFxn2ieStiZsek1Gd7n4GCeVfJIpGTy
	fhEumxGqAqDPJjtU4gVotKwZwAosh4GJxwIDAQABo4GDMIGAMAsGA1UdDwQEAwIHgDAd
	BgNVHQ4EFgQUMZlJKBLzN3zoE6Lk+o4MemtZcl4wHwYDVR0jBBgwFoAUST02U8nXFeGG
	YU6sq6sYVmNdw8YwMQYKKoZIhvdjZAYBCwEB/wQgMB6hHDEaggRQiQAAhAQBAAAAhQQB
	AAAAn4FrBAEAAAAwDQYJKoZIhvcNAQEFBQADggEBAOcT56t5YsdyG3vWs7DubUdIyZiG
	MTCUJTRa6wmt4ggHyyMjwwe7+5p4OKKtzKMDU20IDYCT/KVhO6HSsPeLwbpvCUtc6nsg
	nswAyA6uyP+r/QusHcOEva7tyBO8FH9fh0knbrezdcfdaxbjBb2LyJg6eRhAFQ8hmg0j
	Th+Oii/3dsTSZP2UfGeSglk/1r7iGrARgJ1fuQ5bUmwPUXcBDgWQww/CxcCi/mfJuS91
	RUZF5/w3JczWBej1t6Bfq5du0S3EeDnVJfflsfar7gOUBwhBrzNw+GK6celKsg1CFLNy
	TicOPpdGUdefL1z5vWfv1O4esSzSyd2rs13vZGwj590=
	</data>
	<key>LLB</key>
	<dict>
		<key>Blob</key>
		<data>
		RElDRUAAAAAIAAAA9T0MN5sBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAEhTSFOMAAAAgAAAAKytQ0LAybng4tEIzXDe
		X0ChGgZu0oDTXlWTNik8D7P1gTgF1K5kQ4Rw1jwU/VgAXJAn5m961gYEa4sN
		dfR/cQres7iDJoVVnTzpQNvAQGc5OufMEBRvsbu/Qgir3ioNi+6JthUloCwd
		BNgY485QghTvBhhYs6PBx494fwf4+kgTVFJFQ8IHAAC2BwAAMIID+DCCAuCg
		AwIBAgIBEDANBgkqhkiG9w0BAQUFADBiMQswCQYDVQQGEwJVUzETMBEGA1UE
		ChMKQXBwbGUgSW5jLjEmMCQGA1UECxMdQXBwbGUgQ2VydGlmaWNhdGlvbiBB
		dXRob3JpdHkxFjAUBgNVBAMTDUFwcGxlIFJvb3QgQ0EwHhcNMDcwMTA1MTky
		MTU5WhcNMjIwMTA1MTkyMTU5WjB+MQswCQYDVQQGEwJVUzETMBEGA1UEChMK
		QXBwbGUgSW5jLjEmMCQGA1UECxMdQXBwbGUgQ2VydGlmaWNhdGlvbiBBdXRo
		b3JpdHkxMjAwBgNVBAMTKUFwcGxlIFNlY3VyZSBCb290IENlcnRpZmljYXRp
		b24gQXV0aG9yaXR5MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
		/vLd2mU5sHLjA4SB9FbJ0aFKu8gEAfNGDZXhN5UKaUfGxIx5PkdVBrIGFOt+
		pPUj/kI1mO80Bc6a062U0KIPwtK0BEhMI1pbxwudYtPz42sQ/pcIV8YSdncZ
		ssbDLJjttymH5NwYtuXzuhP7sra3Z9nL32+lkz3tepNntP00FuQAqwu3Th9a
		1gNoPnK2FDA6DGSXoEYieRt3LFsukOAR3Baj4cj3hLJP3Es6CtUSftwRP/oR
		c2UaSXCgfnWCtDwrL1XfMIixdU1F3AcoLUo6hf2flT4iupxG97doe7OU1UI+
		BbM4+Gd5SIxsH4u+7u1UBdWjC1h9eA8kqaHcCnTq9wIDAQABo4GcMIGZMA4G
		A1UdDwEB/wQEAwIBhjAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBRJPTZT
		ydcV4YZhTqyrqxhWY13DxjAfBgNVHSMEGDAWgBQr0GlHlHYJ/vRrjS5ApvdH
		TX8IXjA2BgNVHR8ELzAtMCugKaAnhiVodHRwOi8vd3d3LmFwcGxlLmNvbS9h
		cHBsZWNhL3Jvb3QuY3JsMA0GCSqGSIb3DQEBBQUAA4IBAQA0xQzFDlkRL6bC
		nzJ452QyadutwiXKt0eDt5I8cVOgsq0wlYBQvW1fTNzOeA1MSRBQOBA1v0WB
		rGZYLCEj+JZegOnTxkz9ha45YfYoqkTtFZs/R8BXrGccjM3Uk41P22pUp3tC
		Ww+Zxtc4q1KnoYMdhTB06g0d2miEj+KEfsu5QW7Vn6hCtf8ztnF/6qO53UkD
		YIV2ED6OqOE24xLdhWztZlOwW0ibL3/2yhzwXZgtdK3wSEfF4ZpnsiIPsA4C
		oOG6amK5tLVx9CXhs+Wg7cgaQLX4MRUFpFw4I0yQnUcDgIDUMpBFjw+vm/wC
		7u3L5jH2nxXmfStXQw7iD6GgrYnaMIIDtjCCAp6gAwIBAgICAQUwDQYJKoZI
		hvcNAQEFBQAwfjELMAkGA1UEBhMCVVMxEzARBgNVBAoTCkFwcGxlIEluYy4x
		JjAkBgNVBAsTHUFwcGxlIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MTIwMAYD
		VQQDEylBcHBsZSBTZWN1cmUgQm9vdCBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0
		eTAeFw0xMDEwMjcyMjAyNTJaFw0yMDEwMjcyMjAyNTJaMFMxCzAJBgNVBAYT
		AlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMQwwCgYDVQQLEwNFVFMxITAfBgNV
		BAMTGEg1UC1EYXJ3aW4tUHJvZC1DRVBPMC1EYzCBnzANBgkqhkiG9w0BAQEF
		AAOBjQAwgYkCgYEA0GuVwVIF+1cTwm74GKc9CVBE5Num3+da4fslbcV52U3l
		fZ2fyloUvIHsF1Pm5aZxqu2eGSHceY7hscFBL7WgvwHZE8D70hhwqPsx6izm
		mlWiBeveyQTYA9+xxLfum8W+k62Mdl3DmljRuw2Xb9EO2anm5nRle7DRHcfa
		kdxAvNMCAwEAAaOB7DCB6TALBgNVHQ8EBAMCB4AwHQYDVR0OBBYEFCDexJv2
		txvvc2+o4029NMLRw/bNMB8GA1UdIwQYMBaAFEk9NlPJ1xXhhmFOrKurGFZj
		XcPGMIGZBgoqhkiG92NkBgEBAQH/BIGHBIGEM2dtSYQAAABwAAAAAAAAAHRy
		ZWNPUEVDHAAAAAQAAAABAAAAAAAAAAAAAAAAAAAATU9EUxwAAAAEAAAAAQAA
		AAAAAAAAAAAAAAAAAERPUlAcAAAABAAAAAEAAAAAAAAAAAAAAAAAAABQSUhD
		HAAAAAQAAABQiQAAAAAAAAAAAAAAAAAAMA0GCSqGSIb3DQEBBQUAA4IBAQAV
		lID/TVfE7YseJ7JOi9Jrp25FANPZzFcMQm1yR2RcTn0lpoKigW99hpkvlATz
		MRGGph3igcvv8gL6jR144THBKvVht8hmMrX7y72MJpfBK9jQBxWImuP5V3nc
		p2ogXDn4Pk7fZt/RiYw5Vfh+BOHA2BdhNYVQcKv3rWUmMORzOaK84TCxGmYs
		zgTY6zBivuj4GjAzkvL0IS0yrdNxs9nl+xaSDkco7UCq+JuxgW5mHiL6QZ9k
		OrKc81bEfUqyL+iak6wImvlYVqcH/7APh75CfMBibO0jguwLA4u6/g96zLbm
		PouJmvPAVQCCEygUv8SjT+H5NtLiVmRXrJvuea29
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAHhRAgAsq9xmKNsEAKuu+zRYKS8XQCyEww==
		</data>
	</dict>
</dict>
</plist>
