<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APTicket</key>
	<data>
	MIIKqDALBgkqhkiG9w0BAQUxggK0gQhzXR3yRwAAAIIEQokAAIMEAAAAAIQEAQAAAIUE
	AQAAAIYRaUJvb3QtMjgxNy41MC4zfjGHFF/xjnavgnO4dMLDz42/ZFbV3BE2iBSlEigB
	S7vZ6KD8bh3QcuH+3KqvrokUHG2gcDndnmTFuxv5k5QDLyzMxiqKFK5lobi6UhC/Xnbj
	ZW7WOxV4Aw4OjRSEGEQACKokWuiPoXtR7YkNWOsfcY4UIZQtYC/WyvN2+7WFRjsY6xp6
	ZE2PFFN/Q6je8siE/oyBkusgazHuAzoAkBShkbPW8WPErwAVf0Woextg0Z7+P5IU8PuV
	Z9l18KTlsxiWCZR9fry9S3WUEWlCb290LTI4MTcuNTAuM34xlhFpQm9vdC0yODE3LjUw
	LjN+MZcUpRIoAUu72eig/G4d0HLh/tyqr66YFBxtoHA53Z5kxbsb+ZOUAy8szMYqmRSu
	ZaG4ulIQv15242Vu1jsVeAMODpoUtDx/0kQdEWSaB3VywUVguca9cxacFL6qgS6+4qv/
	NNzly4huGfoCej3fnzAEAQAAAJ8xBAEAAACfMgQBAAAAnzMEAQAAAJ82BAEAAACfNwQB
	AAAAnzgEAQAAAJ85BAEAAACfOwQBAAAAnzwEAQAAAJ89BAEAAACfPgQBAAAAn0sU7eKP
	10+KusftEZLrPacLoQ7+Uh+fThRw8IrqjrJnZ1lNtUFOcFL7h2I8059PFH1Cl/yKEIdY
	7nHDz2R8U4i/METWn1AUK4KM2wpr8/epp69E9MgwsWpy8tmfVAQBAAAAn1UEAQAAAJ9W
	BAEAAACfgWQUwJ74ToA+QBQL0CmFLmCc4PjREc6fgWUUfWT8mbga/01bD7Wm26cULBEX
	HBKfgWYUmbapzKetrZ31nOvle1UWhfY29dWfgWcEAQAAAJ+BaAQBAAAAn4FpBAEAAAAE
	gYB5+WBzbKD/IkEp08PHEH7djvfMTIUSzxfHCDsrExaWccxyw3lMPs1IItT4bTOOh1xo
	n1URO2Q78IlBu5vPGe+3xW6QQ30kVgy6CUr3RLC0DJQ1dbQBFPJbG9vrzI+eY31WmByh
	lf4V98Pibqf8rYsT8w0ywSUeWcw2TdylQDhwY6GCB1wwggP4MIIC4KADAgECAgEQMA0G
	CSqGSIb3DQEBBQUAMGIxCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYw
	JAYDVQQLEx1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEWMBQGA1UEAxMNQXBw
	bGUgUm9vdCBDQTAeFw0wNzAxMDUxOTIxNTlaFw0yMjAxMDUxOTIxNTlaMH4xCzAJBgNV
	BAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYwJAYDVQQLEx1BcHBsZSBDZXJ0aWZp
	Y2F0aW9uIEF1dGhvcml0eTEyMDAGA1UEAxMpQXBwbGUgU2VjdXJlIEJvb3QgQ2VydGlm
	aWNhdGlvbiBBdXRob3JpdHkwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQD+
	8t3aZTmwcuMDhIH0VsnRoUq7yAQB80YNleE3lQppR8bEjHk+R1UGsgYU636k9SP+QjWY
	7zQFzprTrZTQog/C0rQESEwjWlvHC51i0/PjaxD+lwhXxhJ2dxmyxsMsmO23KYfk3Bi2
	5fO6E/uytrdn2cvfb6WTPe16k2e0/TQW5ACrC7dOH1rWA2g+crYUMDoMZJegRiJ5G3cs
	Wy6Q4BHcFqPhyPeEsk/cSzoK1RJ+3BE/+hFzZRpJcKB+dYK0PCsvVd8wiLF1TUXcBygt
	SjqF/Z+VPiK6nEb3t2h7s5TVQj4Fszj4Z3lIjGwfi77u7VQF1aMLWH14DySpodwKdOr3
	AgMBAAGjgZwwgZkwDgYDVR0PAQH/BAQDAgGGMA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0O
	BBYEFEk9NlPJ1xXhhmFOrKurGFZjXcPGMB8GA1UdIwQYMBaAFCvQaUeUdgn+9GuNLkCm
	90dNfwheMDYGA1UdHwQvMC0wK6ApoCeGJWh0dHA6Ly93d3cuYXBwbGUuY29tL2FwcGxl
	Y2Evcm9vdC5jcmwwDQYJKoZIhvcNAQEFBQADggEBADTFDMUOWREvpsKfMnjnZDJp263C
	Jcq3R4O3kjxxU6CyrTCVgFC9bV9M3M54DUxJEFA4EDW/RYGsZlgsISP4ll6A6dPGTP2F
	rjlh9iiqRO0Vmz9HwFesZxyMzdSTjU/balSne0JbD5nG1zirUqehgx2FMHTqDR3aaISP
	4oR+y7lBbtWfqEK1/zO2cX/qo7ndSQNghXYQPo6o4TbjEt2FbO1mU7BbSJsvf/bKHPBd
	mC10rfBIR8XhmmeyIg+wDgKg4bpqYrm0tXH0JeGz5aDtyBpAtfgxFQWkXDgjTJCdRwOA
	gNQykEWPD6+b/ALu7cvmMfafFeZ9K1dDDuIPoaCtidowggNcMIICRKADAgECAgIBeDAN
	BgkqhkiG9w0BAQUFADB+MQswCQYDVQQGEwJVUzETMBEGA1UEChMKQXBwbGUgSW5jLjEm
	MCQGA1UECxMdQXBwbGUgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkxMjAwBgNVBAMTKUFw
	cGxlIFNlY3VyZSBCb290IENlcnRpZmljYXRpb24gQXV0aG9yaXR5MB4XDTExMDcyNzIw
	MzIwOFoXDTIxMDcyNzIwMzIwOFowYjELMAkGA1UEBhMCVVMxEzARBgNVBAoTCkFwcGxl
	IEluYy4xDDAKBgNVBAsTA0VUUzEwMC4GA1UEAxMnSDRBLURhcndpbi1Qcm9kLUNFUE8w
	LVRpY2tldC1EYXRhQ2VudGVyMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCJrrSN
	rn5c5A2hsarX2zkd0kMjndLJXLIQ6h19hxRXMIiE5bTcpaVbrUMS1B8FjvZ3zkZzzzE3
	0hXJeIIrY1qfybZNwEF4YMwXCEZvTTe+hJ+muTEYYw+gJHaLYtpzHOQ9T9jCNHwYNAfc
	uzqxilidiz5Re0hNVBAtrohj4AJy3QIDAQABo4GDMIGAMAsGA1UdDwQEAwIHgDAdBgNV
	HQ4EFgQUmaE60CXdC35VKCIqsdhW6f5y2U4wHwYDVR0jBBgwFoAUST02U8nXFeGGYU6s
	q6sYVmNdw8YwMQYKKoZIhvdjZAYBCwEB/wQgMB6hHDEaggRCiQAAhAQBAAAAhQQBAAAA
	n4FrBAEAAAAwDQYJKoZIhvcNAQEFBQADggEBAAgETxCf0LtZjT6ewIryIx3t4pueEKM4
	fceo5zSbK9Z3gqrE6fixLEc2LiPdmvLEIDmmftHIxR2CFNIt43VmgZQE6b9bie43++b7
	C9EIw/95Y/s6qnBCSbKmKlicvMvMI3U0C/T2jQ61TECQAFrGxM9tzoBMjzo1Zoxfair4
	BC9ZisCRWIgH48Lmikcniz1vw+I/mLPbuz6cEyvE6Y0jQc3TgA4r7j855aCRR6Wy9x4f
	HLz7wOj9aA7FOxEam4z8UdM7pWLEsDHo1Dk3LYkTQo1ZrSlPlQbjv8SwdoKwJ2E6cUlW
	fgl5UZF1k/eSVMb3SwI0veoA1GvgyipF0ow5s7M=
	</data>
	<key>LLB</key>
	<dict>
		<key>Blob</key>
		<data>
		RElDRUAAAAAIAAAAc10d8kcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAEhTSFOMAAAAgAAAAIOtWwkU+T7ylD0NQSBl
		WEy7NrjeXfwyaf94b8iv7Y2cSOD6xRECD/jsnOWWKCdUG2LqSwu4m8pJJyAQ
		kFj6GH3LPI23yeokE8lCnz82FZClI6gStrNYZdSV7xMVdKQA69qMc7lHmNKB
		M/lWKol9dXchn3JlFNJGovkwL9ujoMpLVFJFQ8IHAAC2BwAAMIID+DCCAuCg
		AwIBAgIBEDANBgkqhkiG9w0BAQUFADBiMQswCQYDVQQGEwJVUzETMBEGA1UE
		ChMKQXBwbGUgSW5jLjEmMCQGA1UECxMdQXBwbGUgQ2VydGlmaWNhdGlvbiBB
		dXRob3JpdHkxFjAUBgNVBAMTDUFwcGxlIFJvb3QgQ0EwHhcNMDcwMTA1MTky
		MTU5WhcNMjIwMTA1MTkyMTU5WjB+MQswCQYDVQQGEwJVUzETMBEGA1UEChMK
		QXBwbGUgSW5jLjEmMCQGA1UECxMdQXBwbGUgQ2VydGlmaWNhdGlvbiBBdXRo
		b3JpdHkxMjAwBgNVBAMTKUFwcGxlIFNlY3VyZSBCb290IENlcnRpZmljYXRp
		b24gQXV0aG9yaXR5MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
		/vLd2mU5sHLjA4SB9FbJ0aFKu8gEAfNGDZXhN5UKaUfGxIx5PkdVBrIGFOt+
		pPUj/kI1mO80Bc6a062U0KIPwtK0BEhMI1pbxwudYtPz42sQ/pcIV8YSdncZ
		ssbDLJjttymH5NwYtuXzuhP7sra3Z9nL32+lkz3tepNntP00FuQAqwu3Th9a
		1gNoPnK2FDA6DGSXoEYieRt3LFsukOAR3Baj4cj3hLJP3Es6CtUSftwRP/oR
		c2UaSXCgfnWCtDwrL1XfMIixdU1F3AcoLUo6hf2flT4iupxG97doe7OU1UI+
		BbM4+Gd5SIxsH4u+7u1UBdWjC1h9eA8kqaHcCnTq9wIDAQABo4GcMIGZMA4G
		A1UdDwEB/wQEAwIBhjAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBRJPTZT
		ydcV4YZhTqyrqxhWY13DxjAfBgNVHSMEGDAWgBQr0GlHlHYJ/vRrjS5ApvdH
		TX8IXjA2BgNVHR8ELzAtMCugKaAnhiVodHRwOi8vd3d3LmFwcGxlLmNvbS9h
		cHBsZWNhL3Jvb3QuY3JsMA0GCSqGSIb3DQEBBQUAA4IBAQA0xQzFDlkRL6bC
		nzJ452QyadutwiXKt0eDt5I8cVOgsq0wlYBQvW1fTNzOeA1MSRBQOBA1v0WB
		rGZYLCEj+JZegOnTxkz9ha45YfYoqkTtFZs/R8BXrGccjM3Uk41P22pUp3tC
		Ww+Zxtc4q1KnoYMdhTB06g0d2miEj+KEfsu5QW7Vn6hCtf8ztnF/6qO53UkD
		YIV2ED6OqOE24xLdhWztZlOwW0ibL3/2yhzwXZgtdK3wSEfF4ZpnsiIPsA4C
		oOG6amK5tLVx9CXhs+Wg7cgaQLX4MRUFpFw4I0yQnUcDgIDUMpBFjw+vm/wC
		7u3L5jH2nxXmfStXQw7iD6GgrYnaMIIDtjCCAp6gAwIBAgICAYAwDQYJKoZI
		hvcNAQEFBQAwfjELMAkGA1UEBhMCVVMxEzARBgNVBAoTCkFwcGxlIEluYy4x
		JjAkBgNVBAsTHUFwcGxlIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MTIwMAYD
		VQQDEylBcHBsZSBTZWN1cmUgQm9vdCBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0
		eTAeFw0xMTA3MjcyMjE5MzZaFw0yMTA3MjcyMjE5MzZaMFMxCzAJBgNVBAYT
		AlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMQwwCgYDVQQLEwNFVFMxITAfBgNV
		BAMTGEg0QS1EYXJ3aW4tUHJvZC1DRVBPMC1EYzCBnzANBgkqhkiG9w0BAQEF
		AAOBjQAwgYkCgYEAo6T14MC0TP3aGZZFhmq2CgbOE40hoTSgujA2HntWLW/0
		Ef3BkV03Rutrwi6SBgA8+kKBGFkpy48L6G2908Q+kIjd535zkkZJ0MfQTjks
		Ul2hIOxmhi9FRvjZYfl0WPJMoUe4GdAlzOuqJg7d0pB2jzanhEGzdKNF0NOP
		6uOMUQ0CAwEAAaOB7DCB6TALBgNVHQ8EBAMCB4AwHQYDVR0OBBYEFC2LOOb+
		MRrh1d0sCwjCzVG0uSgEMB8GA1UdIwQYMBaAFEk9NlPJ1xXhhmFOrKurGFZj
		XcPGMIGZBgoqhkiG92NkBgEBAQH/BIGHBIGEM2dtSYQAAABwAAAAAAAAAHRy
		ZWNPUEVDHAAAAAQAAAABAAAAAAAAAAAAAAAAAAAATU9EUxwAAAAEAAAAAQAA
		AAAAAAAAAAAAAAAAAERPUlAcAAAABAAAAAEAAAAAAAAAAAAAAAAAAABQSUhD
		HAAAAAQAAABCiQAAAAAAAAAAAAAAAAAAMA0GCSqGSIb3DQEBBQUAA4IBAQCP
		dSLxH1OzcPzL+/junGZcMRC/e9EPuWgc0X81jIt+Knyj/N4mzce7bqvFHfJO
		XLKUQPkhDgMM+mTLQu3kf4cpgJl4aC/oGckBNdzxQ5tbh/Nbkm0bMQ1mN3DK
		mOcLWW68dC6WrGI299QqTNqWZsGSWS/iWlqkp30N1bwK0OxtF+ZsgqkRUypZ
		SjuG6dLQuQoGtYBP4ftHotuMhyhyye2WFdtA0oVRhvQUfgx39NioxS0xMwKX
		sSty6/SyWK5Mvuv50nZgaBI7uQSXguz0s2epl5MTqLdB9ofZDfECmqROeX7t
		wRwwoWLi8GCsev8qB2A4zTqWs+KJabBI53lZFCnh
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAHhBAgC4V52xgueExuFUWxP+eZ6eYa7evg==
		</data>
	</dict>
</dict>
</plist>
