<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@ServerVersion</key>
	<string>2.1.0</string>
	<key>APTicket</key>
	<data>
	zAoAAAAAAABCQUNTRVBZVCAAAAAEAAAAQkFDUwAAAAAAAAAAAAAAAABwAQBBVEFErAoA
	AJgKAAAwggqUMAsGCSqGSIb3DQEBBTGCAqCBCPXVDpGBAAAAggQwiQAAgwQGAAAAhAQB
	AAAAhQQBAAAAhhJpQm9vdC0xNTM3LjkuNTV+MTGHFA8S5p/a1vLiCE+27UofLNWwm58M
	iBSRAkZw3FBH3jMDbERrXvU8wi23VokU1YKeOUShwP6OGGYX4dq4gyGViYaKFHXokNwN
	tpqn68olQjsJoQI6Hx1/jBSVutUJGcTiiizeSw1ipKQETgRObo0UmvF1k/ZtwIlADus4
	THKUuq2tYLaOFJcNxuSKFkzgwv5QYE+8BLoACEtbjxR8W54wXWcTypWgv1LPqddKdmMh
	ZZAUkXJVHv2MI24fPAQq7p3c1HFs302SFGkDhxIoUI+iEPjzGNWfd0GZMtaAlhJpQm9v
	dC0xNTM3LjkuNTV+MTGXFJECRnDcUEfeMwNsRGte9TzCLbdWmBTVgp45RKHA/o4YZhfh
	2riDIZWJhpkUdeiQ3A22mqfryiVCOwmhAjofHX+aFBbjmDR6hnSa3AKPDGfy4uqPiBjt
	nBQEMuzlICw6C7KJ5NBEd0f5k1TbkJ8wBAEAAACfMQQBAAAAnzIEAQAAAJ8zBAEAAACf
	NQQBAAAAnzYEAQAAAJ83BAEAAACfOAQBAAAAnzkEAQAAAJ87BAEAAACfPAQBAAAAnz0E
	AQAAAJ8+BAEAAACfSxQIae6yet6+UGBrYVCV+atSnWewQ59OFAxl133ONBjQuSZxNrjJ
	kzv/2kzXn08UzAkOGR34yEwBkPwZ2DGycv+CiaOfUBRwtqmF6Zmffruo/gV4g+ceRqEY
	J59UBAEAAACfVQQBAAAAn1YEAQAAAJ+BZBTjKJ7i+uRE79XrvjJBIj6bL82kIJ+BZhSE
	Gcgjnr+iVhszdBtqPD0Ul3gmL5+BZwQBAAAAn4FpBAEAAAAEgYBdIurdOHLOFFIJYoub
	T6l7BVNPXVwsymJg6cD7wGpK4/HvttAQsIoB2upqJVG+Vp80U9ke1IDxUq4EljaJjaLI
	mZgPa69D1zO8liJsXHGisAE9f17+98BRP5oYCC6W0vralFQVYFR97XsnYYEOvuTC1wa0
	hziQc2z/xC1chKgQiqGCB1wwggP4MIIC4KADAgECAgEQMA0GCSqGSIb3DQEBBQUAMGIx
	CzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYwJAYDVQQLEx1BcHBsZSBD
	ZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEWMBQGA1UEAxMNQXBwbGUgUm9vdCBDQTAeFw0w
	NzAxMDUxOTIxNTlaFw0yMjAxMDUxOTIxNTlaMH4xCzAJBgNVBAYTAlVTMRMwEQYDVQQK
	EwpBcHBsZSBJbmMuMSYwJAYDVQQLEx1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0
	eTEyMDAGA1UEAxMpQXBwbGUgU2VjdXJlIEJvb3QgQ2VydGlmaWNhdGlvbiBBdXRob3Jp
	dHkwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQD+8t3aZTmwcuMDhIH0VsnR
	oUq7yAQB80YNleE3lQppR8bEjHk+R1UGsgYU636k9SP+QjWY7zQFzprTrZTQog/C0rQE
	SEwjWlvHC51i0/PjaxD+lwhXxhJ2dxmyxsMsmO23KYfk3Bi25fO6E/uytrdn2cvfb6WT
	Pe16k2e0/TQW5ACrC7dOH1rWA2g+crYUMDoMZJegRiJ5G3csWy6Q4BHcFqPhyPeEsk/c
	SzoK1RJ+3BE/+hFzZRpJcKB+dYK0PCsvVd8wiLF1TUXcBygtSjqF/Z+VPiK6nEb3t2h7
	s5TVQj4Fszj4Z3lIjGwfi77u7VQF1aMLWH14DySpodwKdOr3AgMBAAGjgZwwgZkwDgYD
	VR0PAQH/BAQDAgGGMA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0OBBYEFEk9NlPJ1xXhhmFO
	rKurGFZjXcPGMB8GA1UdIwQYMBaAFCvQaUeUdgn+9GuNLkCm90dNfwheMDYGA1UdHwQv
	MC0wK6ApoCeGJWh0dHA6Ly93d3cuYXBwbGUuY29tL2FwcGxlY2Evcm9vdC5jcmwwDQYJ
	KoZIhvcNAQEFBQADggEBADTFDMUOWREvpsKfMnjnZDJp263CJcq3R4O3kjxxU6CyrTCV
	gFC9bV9M3M54DUxJEFA4EDW/RYGsZlgsISP4ll6A6dPGTP2Frjlh9iiqRO0Vmz9HwFes
	ZxyMzdSTjU/balSne0JbD5nG1zirUqehgx2FMHTqDR3aaISP4oR+y7lBbtWfqEK1/zO2
	cX/qo7ndSQNghXYQPo6o4TbjEt2FbO1mU7BbSJsvf/bKHPBdmC10rfBIR8XhmmeyIg+w
	DgKg4bpqYrm0tXH0JeGz5aDtyBpAtfgxFQWkXDgjTJCdRwOAgNQykEWPD6+b/ALu7cvm
	MfafFeZ9K1dDDuIPoaCtidowggNcMIICRKADAgECAgIBHzANBgkqhkiG9w0BAQUFADB+
	MQswCQYDVQQGEwJVUzETMBEGA1UEChMKQXBwbGUgSW5jLjEmMCQGA1UECxMdQXBwbGUg
	Q2VydGlmaWNhdGlvbiBBdXRob3JpdHkxMjAwBgNVBAMTKUFwcGxlIFNlY3VyZSBCb290
	IENlcnRpZmljYXRpb24gQXV0aG9yaXR5MB4XDTExMDUyMDIzMjM0OFoXDTIxMDUyMDIz
	MjM0OFowYjELMAkGA1UEBhMCVVMxEzARBgNVBAoTCkFwcGxlIEluYy4xDDAKBgNVBAsT
	A0VUUzEwMC4GA1UEAxMnSDNQLURhcndpbi1Qcm9kLUNFUE8xLVRpY2tldC1EYXRhQ2Vu
	dGVyMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCDyArUaV14uKiovUc9eKizLW58
	1k9IMoa+t6I1OhTuFa49i35be9RtnA6TjUwl83yjONPEX0ii2gak1vVqm56PYcjAxkS1
	5BqUmOHrqR2n0Iyna1wFmiqIt4cK4xazx5OGFyGTZ+wMlKG85z+0/0gidE2K+trJxJ2g
	assgr5yNJwIDAQABo4GDMIGAMAsGA1UdDwQEAwIHgDAdBgNVHQ4EFgQUbQKH4gegZQ1Y
	3mKMkZ5/mbkqk58wHwYDVR0jBBgwFoAUST02U8nXFeGGYU6sq6sYVmNdw8YwMQYKKoZI
	hvdjZAYBCwEB/wQgMB6hHDEaggQwiQAAhAQBAAAAhQQBAAAAn4FrBAEAAAAwDQYJKoZI
	hvcNAQEFBQADggEBAP5nNvrOw7PGLaSKy+e2wvxrx6jK581dRIACG4L/mnYlAMpuyyMA
	46rcQdOIIs5+8/8T2g3am3fW/0kECuAfV/FFHZbT2RC6cUHGFRXAJHPnLC+MRAGjk0th
	1lAmGcXfq7Ku+JTSkVkSyBCoQn/UiK1OcxBFbcETvj+YQTdB8HfIlXGex2tQQ6RuFD3F
	wcVvyTx5uMTtaOJIcgloBmPeoboPK3bBeLdFymOUI838PU4apJ/92c6EYnAlsNOOrsb9
	VDOZDZmOd21TLBtzKL19L8WDFzb2cST2Z9eOZ4fACXMjMfMTujX+ONFPQITyCZzTY0GN
	DvItC1uKLSEXbHL5rlsAAAAAAAAAADzK9rRvb926c91r0ys/ynGVm/hupt1+8woyJntu
	RsYfQ2Szvj0vGLfbcUcduJAladVD35E818WJZtwp/3JH+8M90Eapi5FaomGAZ4Ddapcr
	goFBXnKHyMhIKvCatJHqBSktF6dXBz9fV/v8C/TWbLrFMddNugYn6L2XCujrGtIKznZN
	vkkgdmc+BhDZqoL4n62lVbE2g8VngsCPZZLhNxOf51w+TPHyCN/mVgpMB5AP48lRETpi
	vQdz7oxvSsa2y0nsRdMzbAL93T4aKMavprj4o6eIrsqNois8fqXx10kiWo9NuEmACTIR
	TYCfNJNzqPUCWKVYEM1EyYkKR8NP/c3gchRfPCVYFSFR7Ad4dDcEB0nZNi7riwp4+ysZ
	teWNMQ==
	</data>
	<key>LLB</key>
	<dict>
		<key>Blob</key>
		<data>
		RElDRUAAAAAIAAAA9dUOkYEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAEhTSFOMAAAAgAAAAGQIGCAePl8+Ri1uwCFhZd101745x2DfWyoL
		EdgHO+3P1rpsI8pS0oqGjHKbiV7i7cEAC/SdnouZ+xVSwXVvW8rUMUParaCRjJrzTyQk
		DQWfRwTEmeE5XdgbD8BrjbcYqtPleIBRv/1WVVZwxNFFWbfl4z0TbpxuII6x51vbNnuj
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAADgNcgADzWlAgmKpFIPeAfgvs/jD84tF1A==
		</data>
	</dict>
	<key>KernelCache</key>
	<data>
	RElDRUAAAAAIAAAA9dUOkYEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAEhTSFOMAAAAgAAAAEe2tSuczbTpHtchDWb0axChmCHH1jxBn9V0
	BfMsqRSzKYk7sJWBrBiPppt/69qQY9KFSPRrzTuIl4YxBirDJqreBJPG/yvaVe7NVX/u
	AJf0PoosvFCGefwz4k03+G22a668ZFsRo4Ga0IjDKLSlepaGIcApqftTBlHm/fiHfiyB
	</data>
</dict>
</plist>